<div class="card-wrapper--global">
    <form>
        <label id="zipCodeLabel" for="zipCodeInput">Zip:</label>
        <input
            #zipCode="ngModel"
            type="text"
            id="zipCodeInput"
            name="zipCode"
            placeholder="Zipcode"
            required
            [(ngModel)]="zipCodeInput"
            appDuplicateZipValidator
            minlength="5"
            maxlength="5"
            data-testid="zipInput"
            (ngModelChange)="isSubmitted = false"
        />
        <span
            *ngIf="isSubmitted && zipCode.invalid && (zipCode.dirty || zipCode.touched)"
            class="warning"
        >
            <span *ngIf="zipCode.errors?.['minlength']" data-testid="lengthError">
                Please enter a 5 digit zip code.
            </span>
            <span *ngIf="zipCode.errors?.['duplicateZip']"
                >Duplicate zip code. Please try another.</span
            >
        </span>
        <span *ngIf="zipHasNoWeather" class="warning" data-testid="badZipError"
            >Could not find data for zipcode {{ zipCode.value }}. Please try another zipcode.</span
        >
        <br />
        <app-multi-state-button
            [buttonType]="'submit'"
            [stateObservable$]="submitStateSubject.asObservable()"
            (buttonClick)="addLocation(zipCode.value, zipCode.valid ?? false)"
        >
            <div default>Add location</div>
            <div loading>
                <span class="loader"></span>
                Loading
            </div>
            <div complete>Done</div>
        </app-multi-state-button>
    </form>
</div>
<div
    *ngFor="let weatherCondition of zipCodeWeatherConditions$ | async"
    class="card-wrapper--global"
>
    <div class="dashboard-row" data-testid="weatherRow">
        <div>
            <h2 data-testid="name">
                {{ weatherCondition.conditions.name }} ({{ weatherCondition.zipCode }})
            </h2>
            <h3 data-testid="conditions">
                Current conditions: {{ weatherCondition.conditions.weather[0].main }}
            </h3>
            <h4 data-testid="temperatures">
                Temperatures today: Current {{ weatherCondition.conditions.main.temp }} - Max
                {{ weatherCondition.conditions.main.temp_max }} - Min
                {{ weatherCondition.conditions.main.temp_min }}
            </h4>
            <a [routerLink]="'forecast/' + weatherCondition.zipCode" data-testid="forecastLink"
                >View 5-day forecast</a
            >
        </div>
        <img
            *ngIf="
                weatherCondition.conditions.weather[0].main === 'Clouds' ||
                weatherCondition.conditions.weather[0].main === 'Clear' ||
                weatherCondition.conditions.weather[0].main === 'Rain' ||
                weatherCondition.conditions.weather[0].main === 'Snow'
            "
            [src]="
                '/assets/weather-icons/' +
                (weatherCondition.conditions.weather[0].main | lowercase) +
                '.png'
            "
            data-testid="icon"
        />
    </div>
    <button
        class="close"
        data-testid="removeZipButton"
        (click)="removeLocation(weatherCondition.zipCode)"
    >
        &#215;
    </button>
</div>
