.card-wrapper--global {
    width: 90%;
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    padding: 2rem 2.4rem;
    background-color: white;
    border: solid 0.1rem #ddd;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.4rem #ededed;
    position: relative;
}

.card-wrapper--global:not(:first-child) {
    margin-top: 2rem;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
